.tab {
    position: relative;
    display: inline-block;
  }
  
  .tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 85)  ;
    transition: width 0.4s ease;
  }
  
  .tab.active::after {
    width: 100%;
  }
  